

h1{
    border-top-style:  dotted;
    border-bottom-style: double;
    border-left-style:double;
    border-right-style: double;
    border-width: 5px;
}
p1{
    border-style:outset;
    border-width: 5px;
    border-color: gold;
    border-radius: 10px;
    padding: 5px;

}