
#box1{
    border: 5px;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: green;

    margin: 50px;
}

#box2{
    border: 5px;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: red;
    margin: 50px;
}